* {
    box-sizing: border-box;
}
.container{
    position: relative;}


 .common{
    height: auto;
    float: left;
    border: 2px solid;
    margin: 5px;
    padding-top: 30px;
    background-color: lightgray;
    color: black;
    
}
h1{
  text-align: center;
  }
  .title{
      position: absolute;
      width: 50px;
      top: 0;
      right: 0;
      background-color:tomato;
      color: white;
      margin: 0 0 5px 5px;
  }
@media  (min-width : 992px) {
    p.main{
        width: 30.3%;
    }
}
@media (min-width : 768px) and (max-width: 991px) {
    p.tab{
        width: 48%;
         }

    p.tabl{
        width: 100%;
          }

}

@media  (max-width : 767px) {
    p .mob {
       width :100% ;  
     }
}

    